.pi-container{
    flex:1;
    margin: 5px;
    min-width: 280px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5fbfd;
    position: relative;
}

.pi-circle{
    width: 200px;
    height: 200px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
}

.pi-image{
    height: 75%;
    z-index: 2;
}

.pi-info{
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.2);
    z-index: 3;
    transition: all 0.5s ease;
    cursor: pointer;
}

.pi-info:hover{
    opacity: 1;
}

.pi-icon{
width: 40px;
height: 40px;
border-radius: 50%;
background-color: #fff;
display: flex;
align-items: center;
justify-content: center;
transition: all 0.5s ease;
margin: 10px;
}

.pi-icon:hover{
    background-color: #e9f5f5;
    transform: scale(1.2);
}